/* ombrage  */
#bouteille {

    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.590));
}

/* fil d'ariane  */
.ariane {
    padding: 0 .5rem;
}

.ariane ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 25px;
}

.ariane li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: ">";
}

#trait_dessus {
    border-top: 1px solid #f1aa25;
    width: 100%;
}


/* .ariane {
    height: 150px;
    width: 100%;

} */


/* rectalgne transparant  */
.produits {
    width: 350px;
    height: 500px;
    padding: 30px 20px;
    background: none;
    border: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    margin-top: 50px;
}


/* image bouteille vin  */

.vin-bg {
    background-image: url(../assets/fond.png);
    height: 900px;
    width: 390px;
    border-radius: 2rem;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.590));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.vin {
    height: 400px;
}

.conteneur-produit {
    display: flex;
    align-items: center;

}

.info {
    background: rgb(180, 172, 195);
    background: linear-gradient(180deg, rgba(180, 172, 195, 1) 0%, rgba(70, 37, 132, 0) 100%);
    width: 600px;
    height: 450px;
    padding: 30px 20px;
    border: 4px;
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    margin-top: 50px;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.600));
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
}
/* banniére fin  */

.titre {
    font-family: "open sans";
    font-size: 30px;
    color: black;
    text-align: center;
}

.info h2 {
    font-family: "open sans";
    font-size: 20px;
    color: black;
    margin: 50px 40px;
}

.prix {
    font-family: "open sans";
    font-size: 30px;
    color: black;
    text-align: center;
}

/* bouton  */

.count {
    background-color: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    border: black;
    margin-left: 3px;
}

.moins,
.plus,
.panier {
    padding: 2px;
    color: black;
    font-size: x-large
}

#input_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}