/* rectangle transparent  */
section {
    width: 150px;
    height: 250px;
    padding: 30px 20px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

}

/* ombrage  */
#bouteille {

    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.590));
}

/* text forme  */
p {
    color: black;
    font-style: normal;
    font-size: 13px;
}

/* texte police  */
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Light.ttf);
}

@font-face {
    font-family: "Openbolder";
    src: url(OpenSans-Bold.ttf);
}

.titre {
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 8px;
}

.paratitre {
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

.prix {
    font-family: "Openbolder", sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

h1 {
    font-family: "OpenSans", sans-serif;
    font-size: 50px;
    color: black;

}

/* image bouteille vin  */

.vin-bg {
    background-image: url(../assets/vue-dessus-raisins-jaunes-bouteille-vin-noel-baies-rouges-ouvre-vin-noyer-tableau-noir.png);
    height: 132px;
    width: 160px;
    border-radius: 2rem;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.590));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bouton  */

.count {
    background-color: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 15px;
    text-indent: 8px;
    border: px black;

    margin-left: 3px;
}

.moins,
.plus,
.panier {
    padding: 2px;
    color: black;
    font-size: x-large
}

#input_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.Tri {
    margin-top: 70px;
}

.ariane {
    height: 150px;
    width: 100%;

}

/* fil d'ariane  */
.ariane {
    padding: 0 .5rem;
}

.ariane ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 25px;
}

.ariane li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: ">";
}

#trait_dessus {
    border-top: 1px solid #f1aa25;
    width: 100%;
}

.tri {
    position: relative;
}

.les-vins {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 4rem;
}

div p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wine {
    width: 13rem;
}

body {
    background-image: url("../assets/concept-tourisme-vacances-man-drinking-wine-from-bottle-on-holiday-standing-against-yellow-ba\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 10rem ;
}