.about main {
    margin: 0 auto;
    max-width: 1440px;
}

.about p {
    padding: 1rem 0 0;
}

.about-content {
    background: rgb(180, 172, 195);
    background: url(../assets/groupe.png) no-repeat right, linear-gradient(180deg, #B4ACC3 0%, transparent);
    border-radius: 2rem;
    border: 4px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
    padding: 2rem 500px 2rem 2rem;
}

