.login-page main {
    margin: 0 auto;
    max-width: 1440px;
}
.login-page-content {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
}
.login-page-content > div {
    display: flex;
    flex-basis: calc(50% - 1rem);
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
}

.signin-title,
.login-title {
    border-bottom: 1px solid #000;
    margin: 0 0 1rem;
    padding: 0 0 1rem;
    text-align: left;
}

.sigin-text {}

.login-page label {
    margin: 1rem 0 .25rem;
}

.login-page input {
    border: 1px solid #000;
    background-color: transparent;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}

.login-page .lost-password-link {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.login-page button {
    margin-top: auto;
}