
@font-face {
    font-family: "open sans";
    src: url(../assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "alex brush";
    src: url(../assets/AlexBrush-Regular.ttf);
}
@font-face {
    font-family: "open light";
    src: url(../assets/OpenSans-Light.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/BACKGROUND.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    font: 1rem "open sans", sans-serif;
    min-height: 100vh;
}
body.productpage {
    background-image: url("../assets/concept-tourisme-vacances-man-drinking-wine-from-bottle-on-holiday-standing-against-yellow-ba\ \(1\).png");
    background-position: 0 10rem;
}

main {
    margin: 0 auto;
    padding: 2rem;
}
.home main {
    padding: 2rem 0 0;
}

a {
    color: #000;
    text-decoration: none;
}

button {
    background-color: #FF9B70;
    color: black;
    cursor: pointer;
    display: block;
    border: none;
    padding: .875rem 1rem;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,.4);
}

.footer {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0 2rem;
}
.footer a {
    text-wrap: nowrap;
}

.footer .buddies {
    height: auto;
    max-width: 800px;
}




/* si on veut forcer le footer en bas même sur les pages dont le main n'est pas assez haut pour pousser le footer */
body {
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
    text-align: left;
    width: 100%;
}
h1 {
    border-bottom: 1px solid #000;
    margin: 1rem 0 2rem;
    padding: 0 0 1rem;
}
.gradient-block {
    background: linear-gradient(180deg, #B4ACC3 0%, transparent);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
    border-radius: 2rem;
    padding: 1rem;
}

.ariane {
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    padding: 0 1rem 1rem;
    margin: -1rem auto 0;
}
.ariane a + a:before {
    margin: 0 .25rem;
    content: '>';
}


/* quantity stepper */
.product__quantity {
    display: flex;
    gap: .5rem;
    z-index: 1;
}
.product__quantity__less,
.product__quantity__more,
.product__quantity__amount {
    height: 2rem;
}
.product__quantity__less,
.product__quantity__more {
    border: none;
    box-shadow: initial;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 2rem;
    justify-content: center;
    position: relative;
    width: 2rem;
}
.product__quantity__less {
    background: url(../assets/moins.png) no-repeat center/25px;
}
.product__quantity__more {
    background: url(../assets/ajouter.png) no-repeat center/30px;
}
.product__quantity__amount {
    background-color: transparent;
    outline: none;
    border: 2px solid #000;
    border-radius: 2rem;
    display: inline-flex;
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: center;
    width: 5rem;
}

/* Chrome, Safari, Edge, Opera */
.product__quantity__amount::-webkit-outer-spin-button,
.product__quantity__amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.product__quantity__amount[type=number] {
  -moz-appearance: textfield;
}
/* quantity stepper - END */
