.produits {
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}

.produits section{
    width: 300px;
    text-align: center;
}

.banniere-promos{
    background-image: url(../assets/BannièrePROMOS.png);
    width: 100%;
    background-size: cover;
    height: 60vh;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

#promo1{
    position: relative;
    left: 13rem;
}

#search-list{
    display: none;
    background: #fff;
    padding: 2rem;
    position: absolute;
    top:3.9rem;
    left: 8.5rem;
    width: 21rem;
    border-radius: 0 0 2rem 2rem;
}

#search-list li{
    list-style-type: none;
}

#search-list a{
    text-decoration: none;
    color:#000;
}