* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

main {
   
    color: white;
    height: 720px;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}


/* banniere  */

@font-face {
    font-family: "open sans";
    src: url(Images/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "alex brush";
    src: url(Images/AlexBrush-Regular.ttf);
}
@font-face {
    font-family: "open light";
    src: url(Images/OpenSans-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    background: rgb(37, 3, 41);
    background: linear-gradient(92deg, rgba(37, 3, 41, 1) 0%, rgba(80, 53, 84, 1) 100%, rgba(150, 76, 244, 1) 100%);
    padding: 5px;
}

.logo-safe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-safe h1 {
    font-family: "open sans";
    font-size: 400%;
    font-weight: bolder;
    color: white;
    margin-right: 200px;
}

.logo-safe img {
    width: 135px;
}

.left-items-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

}

.left-items-header h3 {
    display: flex;
    margin: 3px;
    font-family: "alex brush";
    font-size: 220%;
    font-weight: lighter;
    color: white;
    margin-right: 150px;
}

.right-items-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}

.right-items-header-1 {
    margin-right: 400px;
    display: flex;
    align-items: center;
}

.right-items-header-2 {
    margin-right: 80px;
}

.right-items-header-1 img,
.right-items-header-2 img {
    margin: 10px;
    width: 40px;
}

#search {
    width: 350px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    background: rgba(250, 235, 215, 0.5);
    color: black;

}

/* banniére fin  */

.sousbanniere{
    position: absolute;
    bottom: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        align-items: center;
        right: 0;
        left: 0;
    
    }
    
    body{
        position: relative;
        overflow-x: hidden;
        background-image: url(Images/BACKGROUND.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 125vh;
    }

    .infonous {
        background: rgb(180, 172, 195);
        background: linear-gradient(180deg, #B4ACC3 0%, transparent);
        width: 1400px;
        height: 700px;
        border: 4px;
        display: flex;
        border-radius: 59px; 
        box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
    }

    .titrenous{
        font-family: "open sans";
        font-size: 25px;
        color: black;
        text-align: left;
        margin-top: 40px;
        margin-left: 50px;
        margin-bottom: 15px;
    }

    .SAFE{
        font-family: "open sans";
        font-size: 15px;
        color: black;
        text-align: left;
        margin-left: 50px;
        line-height: 30px;
    }

    .début{
        font-family: "open light";
        font-size: 15px;
        color: black;
        margin-left: 50px;

    }

    .one {
        font-family: "open light";
        font-size: 15px;
        color: black;
        margin-left: 50px;
        line-height: 20px;

    }
    span{
        font-family: "open sans";
        font-size: 15px;
        color: black;
       line-height: 10px;

    }

    .infonous{
        display: flex;  
        flex-wrap: wrap;
    }
    
    .infonous section{
        width: 55rem;
    }
    

