@font-face {
    font-family: "open sans";
    src: url(Images/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "alex brush";
    src: url(Images/AlexBrush-Regular.ttf);
}


header {
    height: 150px;
    width: 100%;
    background: rgb(37,3,41);
    background: linear-gradient(92deg, rgba(37,3,41,1) 0%, rgba(80,53,84,1) 100%, rgba(150,76,244,1) 100%);
}

#logosafe{
    height: 110px;
    width: 130px;
} 
    

#nomSAFE {
    font-family: "open sans";
    font-size: 500%;
    color: rgb(133, 35, 35);
   

}

#slogan {
    font-family: "alex brush", sans-serif;
    font-size: 300%;
}

/*Reset CSS*/
* {
    font-family: "open sans", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    margin: 0 auto;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    position: relative;
    text-align: center;
    width: 25%;
}


nav a {
    border-bottom: 2px solid transparent;
    color: black;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid gold;
    color: orange;
}

.sous {
    background-color: white;
    box-shadow: 0 1px 2px #CCC;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous {
    display: block;
}
.sous li {
    float: none;
    text-align: center;
    width: 100%;
}
.sous a {
    border-bottom: none;
    padding: 10px;
}
.sous a:hover {
    background-color: RGBa(200,200,200,0.1);
    border-bottom: none;
}
.deroulant > a::after {
    content: "▼";
    font-size: 12px;
}

.conteneur {
    height: 1500px;
    margin: 50px 20px;
}
